<%- include('templetes/head', {tituloWeb:'Mi perfil'}) %>

<body>
    <div class="container my-3">
        <div class="jumbotron">
            <%- include('templetes/navbar') %>
        </div>
    </div>
</body>
</html>